
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* fin reset.css */
body{
	margin: 0;
	padding: 0;
  background-color: #1f1e30;
	/* test para */
	/* height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 1px; */
	/* fin test para */
}
.backcolor{
	background: linear-gradient( #253449, #253450, #253449, #1f1e30);
  background-color: #253449;
}
.telephone>p{
  font-family: 'Quattrocento', serif;
  font-size: 1.8em;
  padding: 0.5em;
  text-align: center;
	text-shadow: 0.1em 0.1em #253449;
}
.Titre{
	text-shadow: 0.1em 0.1em #1f1e30;
  font-size: 5em;
  font-family: 'Quattrocento', serif;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: 0.5em;
}

.Dev{
	text-shadow: 0.1em 0.1em #1f1e30;
	font-size: 2.5em;
	color: #b29e84;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

.nav{
	position: sticky;
	top: 0px;
}
.liste {
	letter-spacing: -0.25rem;
  font-family: 'Josefin Sans', sans-serif;
  /* margin: 0.5em; */
}

li {
	width: calc(99.5%/5);
	text-align: center;
	background: linear-gradient(#253449,#1f1e30);
  font-size: 2em;
  display: inline-block;
  border-radius: 10px;
	border: solid  2px #b29e84;
	box-sizing: border-box;
	letter-spacing: normal;
	padding:0.5em;
	height: 2em;
	color: #b29e84;
	font-family: 'Josefin Sans', sans-serif;
}
.bordG{
	border-bottom-left-radius: 30px;
}
.bordD{
	border-bottom-right-radius: 30px;
}

p{
  font-size: 1.3em;
  color: #ffffff;
}

h2{
  margin: 2em;
  font-size: 2em;
  color: #b29e84;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
h3{
  font-size: 1.5em;
  font-family:  'Quattrocento', serif;
  color: #ffffff;
}
.Presentation{
  text-align: center;
  margin-top: 5em;
  width: 100%;
}
.moitie1{
  width: 45%;
  display: inline-block;
  margin: 1em;
  padding: 1em;
  letter-spacing: normal;
}

.titrecentre{
  text-align: center;
}
.deplacementp{
	border-top: 0px;
	margin-bottom: 3em;
}
.deplacementp>p{
text-align: center;
}
h4{
  margin: 0.5em;
  font-size: 1.4em;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}

.text1{
  text-align: center;
  font-size: 1.2em;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  margin-bottom: 0.2em;
}
.text{
  text-align: center;
	margin: 1em;
}
#B2S, #CDDI, #IVALIS, #ALARME{
  margin: 2em;
}
.text2{
	text-align: center;
  font-size: 1em;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
	padding: 1em 1em;
  }
.FOOTER{
	border: solid 2px #b29e84;
	border-radius: 10px;
	background: linear-gradient(#1f1e30, #253449);
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
 position: fixed;
 top: 50%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
 display: block;
 text-align: center;
 padding: 16px;
 transition: all 0.3s ease;
 color: white;
 font-size: 20px;
}


/* Style the social media icons with color, if you want */
.icon-bar a:hover {
 background-color: #b29e80;
}

.telephone1 {
 background: #253440;
 color: white;
}

.mail {
 background: #253450;
 color: white;
}

.git {
 background: #253460;
 color: white;
}

.linkedin {
 background: #253470;
 color: white;
}
.rebordIconTop{
	border-top-right-radius: 25px;
}
.rebordIconDown{
	border-bottom-right-radius: 25px;
}
a{
	text-decoration: none;
	color: #b29e84;
	display: block;
}
:target {
    border-top: 80px solid transparent;
}
.text01{
	text-align: center;
	width: 50px;
	height: 50px;
}
/* test */
.moitieg{
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
}
.moitied{
	width: 49%;
	border: solid 2px red;
	float: right;
	box-sizing: border-box;
}
.clear{
	clear: both;
}
hr.style {
	width: 10%;
	height: 5px;
	border: 0;
	box-shadow: 0 10px 10px -10px #b29e84 inset;
}

.moitiedp{
	display: inline-block;
	width: 49%;
	float: right;
	height: 655px;
	margin: 0;
	padding: 0;
	position: relative;
  box-sizing: border-box;
  /* background: 50% 50% / content; */
	background-image: url("fond1.jpg");
  background-attachment: fixed;
	z-index: -1;
}
.moitiedg{
		display: inline-block;
		width: 49%;
		float: left;
		background-image: url("fond1.jpg");
		height: 278px;
		margin: 0;
		padding: 0;
		position: relative;
	  box-sizing: border-box;
	  /* background: 50% 50% / content; */
	  background-attachment: fixed;
		z-index: -1;
	}
