
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* fin reset.css */
body{
  background-color: #1f1e30
}
.backcolor{
  background-color: #253449;
}
.telephone>p{
  font-family: 'Quattrocento', serif;
  font-size: 1.8em;
  padding: 0.5em;
  text-align: center;
}
.Titre{
  font-size: 4em;
  font-family: 'Quattrocento', serif;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: 0.5em;
}

.liste{
  color: #b29e84;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 0.5em;
}

li{
  font-size: 2em;
  border: solid #ffffff 2px;
  display: inline-block;
  border-radius: 10px;
  padding: 0.5em;
}
p{
  font-size: 1.3em;
  color: #ffffff;
}

h2{
  margin: 2em;
  font-size: 2em;
  color: #b29e84;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
h3{
  font-size: 1.5em;
  font-family:  'Quattrocento', serif;
  color: #ffffff;
}
.Presentation{
  text-align: center;
  margin-top: 5em;
  width: 100%;
}
.moitie1{
  width: 45%;
  display: inline-block;
  margin: 1em;
  padding: 1em;
  letter-spacing: normal;
}

.titrecentre{
  text-align: center;
}
.deplacementp>p{
text-align: center;
}
h4{
  margin: 0.5em;
  font-size: 1.4em;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: #ffffff
}

.text1{
  text-align: center;
  font-size: 1.2em;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  margin-bottom: 0.2em;
}
.text{
  text-align: center;
}
#B2S{
  margin: 3em;
}
